################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/HMS/.vs/HMS
/API/HMS/HMS/obj
/API/HMS/HMS/bin/Debug/net6.0
/API/HMS/HMS/HMS.csproj.user
